.app {
	background-color: #292C33;
	box-sizing: border-box;
	display: flex;
	flex-direction: column;
	height: 100vh;
	justify-content: space-between;
	padding: 28px;
	width: 100vw;
}

.app__upper-wrapper {
	display: flex;
	flex: 4;
}

.app__lower-wrapper {
	flex: 1;
	margin-top: 28px;
}
