.stats {
	align-items: center;
	background-color: #405270;
	box-sizing: border-box;
	display: flex;
	flex-direction: column;
	flex: 1;
	padding: 12px;
}

.stats__header {
	color: #ffffff;
	font-weight: 300;
	margin: 0;
}

.stats__stat-wrapper {
	box-sizing: border-box;
	display: flex;
	flex-direction: column;
	flex-grow: 1;
	padding: 20px;
	width: 100%;
}

.stats__separator {
	background-color: lightgray;
	height: 1px;
	margin: 14px 0;
	width: 100%;
}
