.stat {
	border-bottom: 1px solid #ffffff;
	box-sizing: border-box;
	color: #ffffff;
	display: flex;
	font-size: 14px;
	min-height: 35px;
	justify-content: space-between;
	padding: 8px 7px;
	width: 100%;
}